vendor/camera/mimoji/model2.zip
system_ext/priv-app/Settings/Settings.apk
boot.img
product/priv-app/Velvet/Velvet.apk
system/system/apex/com.android.vndk.current.apex
system/system/priv-app/MiBrowserGlobal/MiBrowserGlobal.apk
