vendor/camera/mimoji/model2.zip
system/system/data-app/MiBrowserGlobal/MiBrowserGlobal.apk
system/system/apex/com.android.vndk.current.apex
product/priv-app/Velvet/Velvet.apk
boot.img
system_ext/priv-app/Settings/Settings.apk
